{% load static %}

{% if event.category.name == "Training" or event.category.name == "Lessen" %}
<div class="form-group">
    <div class="row" style="margin: 0px;">
        <div class="col">
            <h6 style="margin-bottom: 12px;">How did it go?</h6>
            {% for radio in form.post_rating %}
            <label for="{{ radio.id_for_label }}" style="padding-right: 5px;">
                {{ radio.tag }}
                <!-- <img class="rating_{{ radio.choice_label }}" alt="{{ radio.choice_label }}"> -->
                {% if radio.choice_label == "1" %}
                <img src="{% static 'images/emoji-dizzy-fill.svg' %}" width="20" height="20" alt="{{ radio.choice_label }}">
                {% elif radio.choice_label == "2" %}
                <img src="{% static 'images/emoji-frown-fill.svg' %}" width="20" height="20" alt="{{ radio.choice_label }}">
                {% elif radio.choice_label == "3" %}
                <img src="{% static 'images/emoji-neutral-fill.svg' %}" width="20" height="20" alt="{{ radio.choice_label }}">
                {% elif radio.choice_label == "4" %}
                <img src="{% static 'images/emoji-smile-fill.svg' %}" width="20" height="20" alt="{{ radio.choice_label }}">
                {% elif radio.choice_label == "5" %}
                <img src="{% static 'images/emoji-laughing-fill.svg' %}" width="20" height="20" alt="{{ radio.choice_label }}">
                {% endif %}
            </label>
            {% endfor %}
        </div>
        <div class="col">
            <h6>Perceived exertion</h6>
            {{ form.post_exertion }}
        </div>
    </div>
</div>
<hr>
{% if event.post_fb_pos %}
<div class="clearfix">
    <h6>Positive points</h5>
    <p>{{ event.post_fb_pos }}</p>
</div>
<hr>
{% endif %}
{% if event.post_fb_neg %}
<div class="clearfix">
    <h6>Attention points</h5>
    <p>{{ event.post_fb_neg }}</p>
</div>
<hr>
{% endif %}
{% endif %}
{% if event.post_comments %}
<div class="clearfix">
    <h6>Notes</h5>
    <p>{{ event.post_comments }}</p>
</div>
<hr>
{% endif %}