{% load static %}

<!-- Shows only the post_rating, post_exertion and post_feedback form fields when the event parent category is work-related -->
{% if event.category.parent_category.name == "Training" or event.category.parent_category.name == "Lessen" or event.category.parent_category.name == "Grondwerk" %}
<div class="form-group">
    <div class="row" style="margin: 0px;">
        <div class="col">
            <h6 style="margin-bottom: 12px;">How did it go?</h6>
            <!-- Shows a radio option and replaces it with an emoji image -->
            {% for radio in form.post_rating %}
            <label for="{{ radio.id_for_label }}" style="padding-right: 5px;">
                {{ radio.tag }}
                {% if radio.choice_label == "1" %}
                <img src="{% static 'images/emoji-dizzy-fill.svg' %}" width="20" height="20" alt="{{ radio.choice_label }}">
                {% elif radio.choice_label == "2" %}
                <img src="{% static 'images/emoji-frown-fill.svg' %}" width="20" height="20" alt="{{ radio.choice_label }}">
                {% elif radio.choice_label == "3" %}
                <img src="{% static 'images/emoji-neutral-fill.svg' %}" width="20" height="20" alt="{{ radio.choice_label }}">
                {% elif radio.choice_label == "4" %}
                <img src="{% static 'images/emoji-smile-fill.svg' %}" width="20" height="20" alt="{{ radio.choice_label }}">
                {% elif radio.choice_label == "5" %}
                <img src="{% static 'images/emoji-laughing-fill.svg' %}" width="20" height="20" alt="{{ radio.choice_label }}">
                {% endif %}
            </label>
            {% endfor %}
        </div>
        <div class="col">
            <h6>Perceived exertion</h6>
            {{ form.post_exertion }}
        </div>
    </div>
</div>
<div class="form-group">
    {{ form.post_fb_pos }}
</div>
<div class="form-group">
    {{ form.post_fb_neg }}
</div>
{% endif %}
<div class="form-group">
    {{ form.post_comments }}
</div>
