<form method="post" action="">
{% csrf_token %}
{% load static %}

  <div class="modal-header bg-primary">
    <h5 class="modal-title text-white">Event Details</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" style="height: 80vh; overflow-y: auto;">
    <div class="clearfix">
      <h3>{{ event.title }}</h3>
      <p><span class="{{ event.category.parent_category|lower }} text-white"> &nbsp;{{ event.category }}&nbsp;</span> &nbsp;{{ event.start_date|date:"l j F" }}
      {% if event.all_day and event.start_datetime != event.end_datetime %}
        - {{ event.end_date|date:"l j F" }}
      {% elif not event.all_day %}
        ⋅ {{ event.start_time|date:"G:i" }} - {{ event.end_time|date:"G:i" }}
      {% endif %}
      </p>
    </div>
    <hr>
    {% if event.description %}
    <div class="clearfix">
        <p>{{ event.description }}</p>
    </div>
    <hr>
    {% endif %}
    {% if event.start_datetime < now %}
      {% if event.category.name == "Training" or event.category.name == "Lessen" %}
        <div class="form-group">
          <div class="row" style="margin: 0px;">
            <div class="col">
              <h6 style="margin-bottom: 12px;">How did it go?</h6>
              {% for radio in form.post_rating %}
                <label for="{{ radio.id_for_label }}" style="padding-right: 5px;">
                  {{ radio.tag }}
                  <!-- <img class="rating_{{ radio.choice_label }}" alt="{{ radio.choice_label }}"> -->
                  {% if radio.choice_label == "1" %}
                  <img src="{% static 'images/emoji-dizzy-fill.svg' %}" width="24" height="24" alt="{{ radio.choice_label }}">
                  {% elif radio.choice_label == "2" %}
                  <img src="{% static 'images/emoji-frown-fill.svg' %}" width="24" height="24" alt="{{ radio.choice_label }}">
                  {% elif radio.choice_label == "3" %}
                  <img src="{% static 'images/emoji-neutral-fill.svg' %}" width="24" height="24" alt="{{ radio.choice_label }}">
                  {% elif radio.choice_label == "4" %}
                  <img src="{% static 'images/emoji-smile-fill.svg' %}" width="24" height="24" alt="{{ radio.choice_label }}">
                  {% elif radio.choice_label == "5" %}
                  <img src="{% static 'images/emoji-laughing-fill.svg' %}" width="24" height="24" alt="{{ radio.choice_label }}">
                  {% endif %}
                </label>
              {% endfor %}
            </div>
            <div class="col">
              <h6>Perceived exertion</h6>
                {{ form.post_exertion }}
            </div>
          </div>
        </div>
        <div class="form-group">
          {{ form.post_fb_pos }}
        </div>
        <div class="form-group">
          {{ form.post_fb_neg }}
        </div>
      {% endif %}
      <div class="form-group">
          {{ form.post_comments }}
      </div>
    {% endif %}
  </div>

  <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Update</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
  </div>

</form>

<script>
$("textarea").each(function () {
  console.log(this.scrollHeight);
  this.setAttribute("style", "height:" + Math.max(36, (this.scrollHeight + 3)) + "px;overflow-y:hidden;");
});

$("textarea").on("input", function () {
  this.style.height = 0;
  this.style.height = Math.max(160, (this.scrollHeight + 3)) + "px";
});

$("textarea").on("focus", function () {
  this.style.height = Math.max(160, (this.scrollHeight + 3)) + "px";
});

$("textarea").on("focusout", function () {
  this.style.height = 0;
  this.style.height = (this.scrollHeight + 3) + "px";
});
</script>
