{% extends 'base/base.html' %}
{% load static %}

{% block title %}Exercises | {% endblock title %}

{% block content %}
<div class="row tile px-md-3">
    <div class="col-md-12">
      <button id="create-exercise" class="btn btn-primary" type="button" name="button">Create exercise</button>
      <div><canvas id="exercisesChart"></canvas></div>
      <div><br></div>
      <div><canvas id="balanceExerciseChart"></canvas></div>
    </div>
</div>

<div class="modal fade" id="exerciseModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" style="overflow-y: initial;" role="document">
      <div class="modal-content">
      </div>
  </div>
</div>
{% endblock content %}

{% block extrascripts %}
<script type="text/javascript">
  $(document).ready(function() {
      $("#create-exercise").modalForm({
          modalID: "#exerciseModal",
          formURL: "{% url 'calendarapp:exercise' %}",
      });
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>
<script>
const ctxExercisesChart = document.getElementById('exercisesChart');
const ctxBalanceExerciseChart = document.getElementById('balanceExerciseChart');

var exercisesData = {
    datasets: [
        {% for exercise_group, exercises in object_list.items %}
            {% if exercise_group.name != excluded_exercises %}
                {
                    label: '{{ exercise_group.name }}',
                    data: [{% for exercise in exercises %}{x: '{{ exercise.event.start_datetime|date:"d/m/Y H:i" }}', y: {{ exercise.reps }} * {{ exercise.duration }}},{% endfor %}],
                },
            {% endif %}
        {% endfor %}
    ]
};

var balanceExerciseData = {
    datasets: [
        {% for exercise_group, exercises in object_list.items %}
            {% if exercise_group.name == excluded_exercises %}
                {
                    label: '{{ exercise_group.name }}',
                    data: [{% for exercise in exercises %}{x: '{{ exercise.event.start_datetime|date:"d/m/Y H:i" }}', y: {{ exercise.reps }} * {{ exercise.duration }}},{% endfor %}],
                },
            {% endif %}
        {% endfor %}
    ]
};

const type = 'line';

const options = {
    responsive: true,
    scales: {
      x: {
        title: {
          display: true,
          text: 'Date'
        },
        type: 'time',
        time: {
          parser: 'DD/MM/YYYY HH:mm',
          tooltipFormat: 'D MMM Y',
          unit: 'day',
          displayFormats: {
            'day': 'D MMM'
          }
        }
      },
      y: {
        beginAtZero: true,
        title: {
          display: true,
          text: 'Reps x Duration (s)'
        }
      }
    }
};

var exercisesChart = new Chart(ctxExercisesChart, {
    type: type,
    data: exercisesData,
    options: options
    }
);

{% comment %} var balanceExerciseChart = new Chart(ctxBalanceExerciseChart, {
    type: type,
    data: balanceExerciseData,
    options: options
    }
); {% endcomment %}

</script>
{% endblock extrascripts %}
