{% extends 'base/base.html' %}
{% load static %}

{% block title %}Overview | {% endblock title %}

{% block extracss %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}?r={{ rand }}">
{% endblock extracss %}

{% block content %}
<div class="row tile px-md-3">
    <div class="col-md-12">
        <!-- Regroups all post_events by month -->
        {% regroup post_events by start_date|date:"F Y" as post_events_by_month %}
        <!-- For each month, create a title and table with the activity, ratings and text fields -->
        {% for start_date in post_events_by_month %}
            <h4>{{ start_date.grouper|capfirst }}</h5>
            <table class="table table-secondary table-bordered table-sm table-hover">
                <thead class="table-dark">
                    <tr>
                        <th colspan="2" class="col-2">Activity</th>
                        <th style="width: 2%;"></th>
                        <th class="col-3">Positive points</th>
                        <th class="col-3">Attention points</th>
                        <th class="col-3">Notes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in start_date.list %}
                    <tr>
                        <td class="{{ event.category.parent_category|lower }}"></td>
                        <td class="table_event" data-form-url="{% url 'calendarapp:event_details' pk=event.pk %}">
                            {{ event.title }}
                            <p>({{ event.start_date }})</p>
                        </td>
                        <td class="text-center">
                            <img class="rating_{{ event.post_rating }}" height="16" width="16" style="margin: 2px 0px 6px 0px;">
                            <p class="dot exertion_{{ event.post_exertion }}" style="margin-bottom: 0px;"></p>
                        </td>
                        <td>{{ event.post_fb_pos }}</td>
                        <td>{{ event.post_fb_neg }}</td>
                        <td>{{ event.post_comments }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
        {% empty %}
        <p style="font-weight: bold;">No data to show yet.</p>
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="eventModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" style="overflow-y: initial;" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
{% endblock content %}

{% block extrascripts %}
    <script type="text/javascript">
        // Adds a Bootstrap ModalForm to all td elements with the table_event class
        $(document).ready(function() {
            function eventDetailsModalForm() {
                $("tbody .table_event").each(function () {
                    $(this).modalForm({
                    modalID: "#eventModal",
                    formURL: $(this).data("form-url")
                    });
                });
            };
            eventDetailsModalForm();
        });
    </script>
{% endblock extrascripts %}
